h1{
color:Yellow;
font-size:25px;
text-align: center;
font-weight: bold;
font-family:'Codystar', cursive;
}


h4 {
color:Black;
text-align: center;
font-family:'CodyStar',cursive;
font-size: 15px;
}

p {
font-size:20px;

word-spacing:0.07em;

line-height:1.7em;

color:Black;age CSS



font-family:'Poiret One', cursive;

text-align: center;

font-weight: bold;
}


li {

color:Black;

text-align: center;

font-family: 'Poiret One', cursive;

font-weight: bold;

}



p {
font-size:20px;

word-spacing:0.07em;

line-height:1.7em;

color:Black;

font-family: 'Poiret One', cursive;

text-align: center;

font-weight: bold;

}



h2 {
color:Yellow;
text-align: center;
font-weight: bold;
font-size:25px;
font-family: 'CodyStar', cursive;
}

.homepage-img {
 -webkit-box-shadow: 3px 0px 3px 0px rgba(0, 0, 50, 0.97);
 -moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
 box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
 width: 500px;
 position: relative;
 left:425px;
 margin: auto;
}


button {

 color:GoldenRod;

}
